<!DOCTYPE html>
<html>
  <head>
      <title>Peepo: Generative Model</title>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <link type="text/css" rel="stylesheet" href="static/causality.css"/>
  </head>
  <body bgcolor="#042029">
    <div class="sidenav" id="sidenav">
        <button class="button" onclick="inference()">Inference</button>
        <br>


    </div>

    <div class="main">
      <div id="chart" class="chart-container"></div>
    </div>

    <script type="text/javascript" src="static/causality.js"></script>
  </body>
</html>